@import "reset.css";



body {
    font-family: 'Muli', sans-serif;
}

header {
    margin-bottom: 120px;
}



/*//////////////////////////////////
               HEADER
//////////////////////////////////*/




.icon-bar {
    width: 100%;
    background-color: #25313C;
    overflow: auto;
}

.icon-bar img {
    width: 30px;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 25%;
    padding-top: 14px;
    transition: all 0.5s ease;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.icon-bar a p {
    margin: 10px 0;
}

.icon-bar a:hover {
    background-color: rgba(65, 126, 175, 0.76);
}

.menufixed .active {
    background-color: #88959A;
}

header .menufixed {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}



/*//////////////////////////////////
              HEADER2
//////////////////////////////////*/



.icon-bar2 {
    width: 100%;
    background-color: #25313C;
    overflow: auto;
}

.icon-bar2 img {
    width: 30px;
}

.icon-bar2 a {
    float: left;
    text-align: center;
    width: 33.33333333333333333333333333333333333333333333333333333333333333%;
    padding-top: 14px;
    transition: all 0.5s ease;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.icon-bar2 a p {
    margin: 10px 0;
}

.icon-bar2 a:hover {
    background-color: rgba(65, 126, 175, 0.76);
}

.menufixed2 .active {
    background-color: #88959A;
}

header .menufixed2 {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}


/*//////////////////////////////////
               SLIDER
//////////////////////////////////*/


.diapo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


/*//////////////////////////////////
           QUI SOMME NOUS ?
//////////////////////////////////*/





#qui {
    background-color: #25313C;
    padding: 30px 0;
    color: white;
}

#qui h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
    margin: 100px 0;
}

#qui h2 span {
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
    margin: 100px 0;
    color: #9aa3ff;
}

#qui .avatarEtLogo {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#qui .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#qui .imgAvatar {
    float: left;
    margin: 0 5%;
}

#qui .imgAvatar p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

#qui .avatar1 {
    margin-left: 6%;
}

#qui .logicielMaitrise {
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 60px;
    margin-top: 40px;
}

#qui .logoLogiciel {
    width: 100%;
    border-radius: 10px;
}

#qui .logo{
    height: 70px;
    width: 70px;
    margin: 20px 3%;
}

#qui .logo1 {
    height: 70px;
    width: 90px;
    margin: 20px 3%;
}

#qui .logo2 {
    height: 70px;
    width: 110px;
    margin: 20px 3%;
}

#qui .logo3 {
    height: 70px;
    width: 120px;
    margin: 20px 3%;
}

#qui .logoLogiciel {
    float: left;
}

.espace {
    margin-bottom: 40px;
}


#qui .barreVertical {
    width: 5px;
    height: 520px;
    background-color: white;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
}

#qui .text {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2vw;
    margin-top: 20px;
    width: 46%;
    line-height: 40px;
}

#qui .text .italic {
    font-style: oblique;
}



/*//////////////////////////////////
              CONTACT
//////////////////////////////////*/




h3 {
    text-align: center;
    margin: 140px 0 70px 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

.bar {
    width: 10%;
    height: 3px;
    background-color: black;
    margin: 0 45.3%;
}

h4{
    text-align: center;
    margin: 20px 0 70px 0;
    font-size: 1.5em;
}

.formpage {
    width: 80%;
    margin: 0 12%;
}

.separation {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.formpage input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: 1.5px solid black;
    padding-left: 20px;
}

.formpage textarea{
    background-color: white;
    padding: 12px 20px;
    color: gray;
    border-radius: 5px;
    border: 1.5px solid black;
    opacity: 80%;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    height: 200px;
    max-height: 400px;
}

.formpage #boutonenvoyer {
    width: 30%;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    background-color: #25313C;
    margin: 80px 32.5%;
    transition: all 0.5s;
}



.formpage #boutonenvoyer:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all 0.5s;
}

.formpage span {
    display: block;
}

.mouv {
    margin: 350px 0;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
}

/*//////////////////////////////////
              FOOTER
//////////////////////////////////*/



footer {
    background-color: #25313C;
    padding: 30px 0;
}

footer p {
    text-align: center;
    color: white;
}

footer p a {
    color: white;
}

footer p a:hover {
    color: #9aa3ff;
}



/*//////////////////////////////////
               LOGIN
//////////////////////////////////*/



h6 {
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    margin: 60px 0;
}

.inscri {
    width: 60%;
    margin-left: 40%;
}


.inscri label {
    font-size: 1.2em;
    display: block;
    padding-bottom: 20px;
    padding-top: 15px;
    text-transform: uppercase;
}

.inscri input[type=text], .inscri input[type=email], .inscri input[type=password] {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.inscri input[type=submit] {
    display: block;
    margin-top: 50px;
    margin-left: 7%;
    background-color: black;
    padding: 15px 60px;
    border-radius: 10px;
    color: white;
    margin-bottom: 60px;
    text-transform: uppercase;
}




/*//////////////////////////////////
               RESPONSIVE
//////////////////////////////////*/




@media screen and (max-width: 1439px) {

    #qui h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
        margin: 100px 0;
    }

    #qui .avatarEtLogo {
        width: 100%;
    }

    #qui .avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .avatarSeul {
        width: 100%;
    }

    #qui .imgAvatar {
        float: left;
        width: 14%;
    }

    #qui .imgAvatar img {
        display: block;
        margin: 0 auto;
    }

    #qui .imgAvatar p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 70px;
    }

    #qui .avatar1 {
        margin-left: 6%;
    }

    #qui .logicielMaitrise {
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
        margin-bottom: 60px;
        margin-top: 40px;
    }

    #qui .logoLogiciel {
        width: 100%;
    }

    #qui .logo{
        height: 70px;
        width: 70px;
        margin: 20px 2%;
    }

    #qui .logo1 {
        height: 70px;
        width: 90px;
        margin: 20px 2%;
    }

    #qui .logo2 {
        height: 70px;
        width: 110px;
        margin: 20px 2%;
    }

    #qui .logo3 {
        height: 70px;
        width: 120px;
        margin: 20px 2%;
    }

    #qui .logoLogiciel {
        float: left;
    }

    .espace {
        margin-bottom: 40px;
    }


    #qui .barreVertical {
        width: 5px;
        height: 520px;
        background-color: black;
        border-radius: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 0 2%;
    }


    #qui .barreVertical {
        height: 0.01px;
    }

    #qui .text {
        font-size: 3vw;
        margin-top: 20px;
        width: 100%;
        line-height: 40px;
    }
}


@media screen and (max-width: 1100px) {

    .inscri {
        margin-left: 35%;
    }
}

@media screen and (max-width: 600px) {

    .inscri {
        margin-left: 25%;
    }
}

@media screen and (max-width: 615px) {

    #qui .logo3 {
        display: none;
    }
}

@media screen and (max-width: 642px) {

    header .menufixed p {
        display: none;
    }

    header .menufixed img {
        padding-bottom: 20px;
    }
}

